@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');


body {
    background-color: #262425;
    font-family: 'Rammetto One', sans-serif;
    font-size: 1em;
    color: #e99c25;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "starter" "main_course" "dessert" "drinks" "footer"
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262425;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 0.8em;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



header {
    grid-area: main;
    background-image: url(/img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    padding-bottom: 100px;
}

.logo {
    font-family: 'Rammetto One', sans-serif;
    font-size: 3em;
    color: black;
    width: 500px;
    padding: 120px;
    margin-left: auto;
    margin-right: auto;


}
article a:link {
    text-decoration: none;
    color: black;
}

article a:visited {
    text-decoration: none;
    color: black;
}

}

.section_title {
    float: right;
    padding: 5px;
    margin-left: 100%;
}

.starter {
    grid-area: starter;

}

article img {
    width: 350px;
}

.main_course {
    grid-area: main_course;

    height: 100%;
    position: relative;
}

.dessert {
    grid-area: dessert;
    height: 100%;
    position: relative;
}

.drinks {
    grid-area: drinks;
    height: 100%;
    position: relative;
}

/*////////////////////////////////////////////////*/

@media all and (min-width:650px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "starter starter" "main_course main_course" "dessert drinks" "footer footer"
    }

    .section_title {
        float: left;
        margin-left: 30px;
        margin-right: 100%;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .courses {
        float: left;
        margin-left: 6%;
        margin-right: 35px;
    }

